#profile {
  margin-top: 100px;
  text-align: left;

  #info-table {
    width: 650px;
    padding: 0 8px;
    min-height: 1px !important;
  }

  #contact-info {
    width: 33%;
    padding: 0 8px;
    border: 1px solid rgb(228, 228, 228);
  }

  #image {
    border-bottom: 1px solid #EBEBEB;

    .dashboard-avatar {
      margin: 25px auto;
      height: 120px;
      width: 120px;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  #info {
    margin-top: 16px;
  }

  #basic-info {
    border-top: 1px solid #EBEBEB;
  }

  #edit {
    margin-top: 16px;
  }

  #map {
    width: 430px !important;
    height: 400px;
  }
}
