
.landing {
  width: 100%;
  height: calc(100vh - 66px);

  h1 {
    position: absolute;
    left: 8.33%;
    top: 43.36%;
    bottom: 27.59%;

    width: 500px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 45px;
    line-height: 53px;

    color: #404040;
  }

  h2 {
    position: absolute;
    left: 8.33%;
    top: 52.96%;
    bottom: 21%;

    width: 500px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 35px;

    color: #717171;
  }

  .text {
    line-height: 5px;
  }

  .btn-primary {
    position: absolute;
    left: 8.33%;
    top: 514px;
  }

  .images {
    position: absolute;
    width: 575px;
    height: 585px;
    right: 120px;
    top: 105px;

    img {
      position: absolute;
      border-radius: 10px;
    }

    #img1 {
      width: 169px;
      height: 253px;
      left: 4px;
      top: 5px;

      box-shadow: 0px 4px 49px rgba(0, 0, 0, 0.12);
    }

    #img2 {
      width: 301px;
      height: 178px;
      left: 161px;
      top: 174px;

      box-shadow: 0px 16px 49px rgba(0, 0, 0, 0.28);
    }

    #img3 {
      width: 156px;
      height: 207px;
      left: 44px;
      top: 343px;

      box-shadow: 0px 4px 49px rgba(0, 0, 0, 0.38);
      transform: rotate(-90deg);
    }

    #img4 {
      width: 171px;
      height: 242px;
      left: 404px;
      top: 343px;

      box-shadow: 0px 4px 49px rgba(0, 0, 0, 0.38);
    }
  }
}


  .text-content {
    width: 257px;
    height: 193px;
    margin: auto;
    padding-top: 275px;
  }

  .food {

    button {
      height: 100px;
      width: 100px;
    }
  }


html {
  scroll-behavior: smooth;
}

.circle, .circle div {
    width:24px; height:300px;
    position:absolute;
    left:50%; top:50px;
}
.circle:before, .circle div:before {
    content:'';
    display:block;
    width:20px; height:20px;
    border: 2px solid black;
    border-radius: 100%;
}
.circle div {
    top:0; left:0;
    -webkit-transform : rotate(24deg);
    -ms-transform : rotate(24deg);
    transform : rotate(24deg);
}

#container {
  width: 800px;
  height: 800px;
  position: relative;
  margin: auto;
}

.category-icon {
  width: 100px;
}

