  <div class="recipe-show-header"><h1><%= @recipe.name %></h1></div>
<div class="container show">
  <div class="recipe-show-image"><%= image_tag(@recipe.image)%></div>
  <div class="recipe-show-method"><p> <%= @recipe.method %></p></div>
</div>
