<div class="recipe-popover">
  <div class="container">
    <div class="recipe-data d-flex">
      <img class="image" src="https://www.drdavidludwig.com/wp-content/uploads/2017/01/1-RIS_6IbCLYv1X3bzYW1lmA.jpeg" alt="">
      <div class="info flex-grow-1">
        <div><h1 class="header">TITLE</h1></div>
        <h4 class="category">CATEGORY</h4>
        <div><p>Ingredients</p></div>
        <div style="overflow:scroll; height:170px;">
          <h5 class="ingredients"></h5>
        </div>
        <div class="btn-content">
          <button class="btn btn-secondary close-btn">Close</button>
          <button class="btn btn-primary select-btn">Select</button>
        </div>
      </div>

    </div>
  </div>
</div>
