<div class="landing">
  <div class="images">
    <%=  image_tag("landing/img1.jpg", id: "img1") %>
    <%=  image_tag("landing/img2.jpg", id: "img2") %>
    <%=  image_tag("landing/img3.jpg", id: "img3") %>
    <%=  image_tag("landing/img4.jpg", id: "img4") %>
  </div>

  <div class="text">
    <h1>Egg & Flour</h1>
    <h2>Share an experience with new people around you.</h2>
    <a href=""><p>Start Cooking</p></a>
  </div>
</div>
