h1 {
  font-family: "Montserrat";
  font-weight: 300;
  margin-top: 10px;
}

body {
  font-family: "Roboto";
  font-weight: 300;
  background-color: white;
}
.recipe-index-title {
  text-align: center;
  margin: 30px
}

#display-recipes {
  margin-bottom: 60px;

  .card {
    border: 0px;
    box-shadow: unset !important;
    font-weight: 400;

    .highlight {

      img {
        border: solid #3891A6 4px;
        border-radius: 11px;
        opacity: 0.8;
      }

      p {
        color: $green;
      }
    }
  }
}

.cards {
  flex-direction: row;
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(3, 1fr);

  .recipe {
    width: auto;

    .card-body {
      padding: 0px;
      box-shadow: unset !important;
    }

    img {
      width: 100%;
      height: 200px;
      object-fit: cover;
      border-radius: 6px;
      cursor: pointer;
    }
  }

  p {
    &:hover {
      color: $green;
      cursor: pointer;
    }
  }
}

.hide-ingredient {
  display: none;
}

