.btn-primary {
  color: #fff;
  background-color: $green !important;
  border-color: $green !important;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(56, 145, 166, 0.25);

  &:hover {
    background-color: #228CA5 !important;
    color: #fff !important;
    border-color: #228CA5 !important;
  }

  &:not([href]):not([tabindex]) {
    color: #fff !important;
  }
}
