.sticky-bar {
  padding: 10px;
  background-color: white;
  bottom: 0;
  position: fixed;
  width: 100%;
  z-index: 100;

  .text-container {
    overflow-y: scroll;
    width: 1004px;
    max-height: 80px;
  }

  .display {
    color: gray;
    margin: 7px 15px;
    text-align: end;
  }
}
